<section id="dashboard-page" class="dashboard">
  <h1>Dashboard</h1>
  <!-- Display ul: with list-items for All books (If any) -->
  
  <ul class="other-books-list" *ngIf ="bookList.length">
    <li class="otherBooks" *ngFor="let book of bookList; let i = index">
      <h3>{{ book.title }}</h3>
      <p>Type: {{ book.type }}</p>
      <img class="img" src="{{book.imageUrl}}"><img>
      <a class="button" href="details/{{ book._id }}">Details</a>
    </li>

  </ul>


  <p class="no-books" *ngIf=!bookList.length>No books in database!</p>
</section>
