<section id="info-about-candidates">
  <h2>Candidates for this ad:</h2>

  <article class="info-about-candidates-card">
    <h2>Email: {{usersThatIsApplied.email}}</h2>
    <h3>Description of the candidate's skills: {{usersThatIsApplied.description}}</h3>
  </article>
</section>